<div>
  <h1>hahahahahahah</h1>
</div>

<form class="search-container" action="/cocktails">
  <input id="searchBar" class="searchbar" name="query" type="text" placeholder="Search Cocktail!" aria-label="Search">
</form>
