
<div class="title">
  <h2 class="title-top" style="margin-right: 8px;">All</h2> <h2 class="title-top">that</h2>
  <h2 class="title-bottom"> Cocktail </h2>
</div>

<form class="search-container" action="/cocktails">
  <input id="searchBar" class="searchbar" name="query" type="text" placeholder="Search Cocktail!" aria-label="Search">
</form>



<div class="container">
  <div class="row">
    <% @ingredients.each do |ingredient| %>
      <h5>- <%= ingredient.name %></h5>
    <% end %>
  </div>

</div>
