

<form class="search-container" action="/cocktails">
  <input id="searchBar" class="searchbar" name="query" type="text" placeholder="Search Cocktail!" aria-label="Search">
</form>

<div class="banner">
  <div class="title">
    <h2 class="title-top" style="margin-right: 8px;">All</h2> <h2 class="title-top">that</h2>
    <h2 class="title-bottom"> Cocktail </h2>

    <div class="sample mt-5">
      <% @cockatils.each do |cocktail| %>
        <%= cl_image_tag cocktail.photo.key, height: 160, width: 160, crop: :fill %>
      <% end %>
    </div>

    <%= render 'shared/footer' %>
  </div>
</div>
