<h1>lalalalalalalal</h1>

<div class="logout-container">
  <div class="logout-btn">
    <%= link_to destroy_user_session_path, method: :delete, class: "text-dark text-decoration-none" do %>
      <p>Log out</p>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>
</div>
