<div class="profile-comment">
  <h3>Hello, <%= current_user.name.capitalize %>!</h3>
  <h3>How can help you?</h3>

  <div class="session-container">
    <%= button_to "Edit profile", edit_user_registration_path, method: :get, class: "password-btn" %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "logout-btn" %>
  </div>
</div>
