<div class="footer">
  <p class="footer-text"> <i class="far fa-copyright"></i> CAVASOL 2022 </p>
  <p class="footer-text"> <i class="fas fa-globe"></i> English(US)</p>
  <div class="footer-text w-100 justify-content-center m-0">
    <div class ="footer-icons">
      <P> <i class="fa-brands fa-github-square" style="color: #171515;"></i> </p>
  </div>
</div>
