


<div class="ingredients-index">
  <h3 class="ing-table-title">Ingredients</h3>
  <table class="ing-table">
    <thead>
      <th>Ingredient</th>
      <th>Action</th>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <%# <% if ingredient.user == current_user %>
            <td>
              <%= link_to ingredient_path(ingredient), method: :delete, class: "ingredient-delete", data: { confirm: "Are you sure?" } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </td>
          <%# <% else%>
            <%# <td>-</td> %>
          <%# <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'shared/footer' %>
