<div class="top-nav">
  <p class=> <i class="fa-solid fa-angles-left"></i> <%= link_to "Back", :back, class: "back" %></p>
</div>

<%= simple_form_for [@cocktail, @ingredient] do |f| %>
  <%= f.input :name, input_html: { placeholder: "New ingredient?", class: "ing-name" } %>
  <%= f.button :submit, class: "new-dose-btn" %>
<% end %>
