.banner {
  height: 100vh;
  background-size: cover;
  padding: 0px;
}

.title {
  justify-content: center;
  text-align: center;
  color: #05192C;
  font-family: 'Monoton', cursive;
  margin: 0;
}

.title-all {
  font-weight: lighter;
  font-size: 64px;
  margin: 0;
  margin-top: 120px;
}

.title-that {
  font-size: 64px;
  font-weight: lighter;
  margin: 0;
}

.title-cocktail {
  font-size: 56px;
  font-weight: lighter;
  margin: 0;
}
