.new-ingredient {
  color: wheat;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  // padding-right: 10px;
  margin-bottom: 10px;
}

.new-review {
  color: wheat;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  // padding-right: 10px;
  margin-bottom: 10px;
}

.logout-container {
  display: flex;
  justify-content: right;
  padding: 20px;

  & a {
    text-decoration: none;
  }
}

.logout-btn {
  font-family: 'Roboto', sans-serif;

  & i, p {
  display: inline-flex;
  justify-content: right;
  text-decoration: none;
  color: #05192C;
  }

  & p {
    margin-right: 4px;
  }
}

.newc-btn {
  text-align: center;

  .new-cocktail-btn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
  }
}
