.new-ingredient {
  color: cadetblue;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  // padding-right: 10px;
  margin-bottom: 10px;
}

.new-review {
  text-align: right;
  margin-bottom: 10px;

  .newreview {
    color: cadetblue;
    text-decoration: none;
    font-size: 12px;
  }
}

.session-container {
  padding: 20px;
  display: inline-block;

  a {
    text-decoration: none;
  }
}

.logout-btn {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 28px;
  padding: 8px;
  background-color: #05192C;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  transition: 1s;

  .logout-btn:hover {
    background-color: #81ecec;
  }
}

.password-btn {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 28px;
  padding: 8px;
  background-color: #05192C;
  color: white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 14px;
  transition: 1s;

    .password-btn:hover {
    background-color: #81ecec;
  }
}

.login-form-actions {
  text-align: center;

  .login-btn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
  }
}

.signup-form-actions {
  text-align: center;

  .signup-form-btn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

  .signup-btn {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 32px;
    // padding: 8px;
    background-color: #05192C;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
  }
}

.dumdum-form-actions {
  text-align: center;

  .dumdum-form-btn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
  }
}

.newc-btn {
  text-align: center;

  .new-cocktail-btn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
  }
}

.dose-btn {
  text-align: center;

  .new-dose-btn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
  }
}

.review-btn {
  text-align: center;

  .reviewbtn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
  }
}

.ing-btn {
  text-align: center;

  .new-ing-btn {
    height: 32px;
    width: 120px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
  }
}

.edit-form-actions {
  text-align: center;

  .edit-user-btn {
    height: 32px;
    width: 160px;
    background-color: #05192C;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 12px;
  }
}

.delete-user {
  text-align: center;

  .deleteuser-btn {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 160px;
    height: 32px;
    background-color: #05192C;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
  }
}

.cocktail-show-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
