.samples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  padding: 10px;
}

.sample-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color:white;

    &:hover {
      opacity: 0.6;
    }
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .samples {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
