.samples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  padding: 16px;
  text-decoration: none;
}

.sample-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 140px;
  width: 160px;
  background-size: cover;
  border-radius: 4px;
  text-decoration: underline;
  color: white;

  & .name {
    color: white;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
  }

  & a {
    text-decoration: none !important;
  }
}

.cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cocktail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 140px;
  background-size: cover;
  border-radius: 4px;
  margin: 0;
  padding: 0;

  & p {
    text-decoration: underline;
    color: white;
    font-size: 16px;
    text-align: center;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .samples {
    grid-template-columns: 1fr 1fr;
  }

  .cocktails {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cocktails {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cocktails {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .cocktails {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .samples {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .cocktails {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
