.footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  margin-top: 56px;
  margin-bottom: 80px;

  & .footer-text {
    font-size: 16px;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin: 0;

  & p {
    font-size: 48px;
    padding: 0 8px;
    margin: 0;
  }
}
