// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ing-container {
  color: #05192C;
  font-family: 'Roboto', sans-serif;
  padding: 12px;
}

.new-ingredient-input {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  .ing-name {
    display: block;
    width: 280px;
    height: 32px;
    margin-bottom: 20px;
    border: 1px dotted #05192C;
    border-radius: 8px;
    margin-top: 8px;
    padding: 10px;
  }
}

.ing-multi {
  display: flex;
  justify-content: center;
  align-items: center;

  .ing-form-control {
    display: block;
    width: 300px;
    height: 240px;
    margin-bottom: 20px;
    border: 1px dotted #05192C;
    border-radius: 8px;
    margin-top: 8px;
    padding: 10px;
  }
}

.ing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #05192C;

  .ingredient-delete {
    color: #05192C;
  }
}

.ing-index-top10 {
  color: #05192C;
  font-family: 'Roboto', sans-serif;

  .top10-ing {
    color: #05192C;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    text-align: justify;
    border: none;
    background-color: #E8E4E2;
    border-radius: 8px;
    margin: auto;
    padding: 1px;

    li {
      font-size: 15px;
    }

  }

  .top10-ing:hover {
    background-color: cadetblue;
    transition: 0.8s;
  }
}

.ing-index-common {
  color: #05192C;
  font-family: 'Roboto', sans-serif;

  .common-ing {
    color: #05192C;
    font-family: 'Roboto', sans-serif;
    width: 280px;
    height: 328px;
    text-align: justify;
    border: none;
    background-color: #E8E4E2;
    border-radius: 8px;
    margin: auto;
    padding: 10px;

    .common-ing-head {
      text-align: center;
    }

    p {
      margin: 0;
      font-size: 15px;
    }
  }

  .common-ing:hover {
    background: wheat;
    transition: 0.8s;
  }
}

.ing-index-about {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

  .ing-index-about-contents {
    text-decoration: none;
    color: white;
    font-family: 'Monoton', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    .ing-index-about-img {
      width: 300px;
      height: 200px;
      border-radius: 6px;
      background-size: cover;
      background-position: center;
      text-align: center;
      margin-bottom: 20px;
    }

    .ing-index-about-text {
      margin: 0;
      font-weight: lighter;
      font-size: 28px;
      text-align: left;
      margin-top: 104px;
      margin-left: 12px;
    }
  }
}

.ing-index-manage {
  color: #05192C;
  font-family: 'Roboto', sans-serif;

  .manage-ing {
    display: block;
    height: 300px;
    width: 300px;
    overflow: auto;
    text-align: left;
    border: 1px dotted #05192C;
    border-radius: 8px;
    margin: auto;

    .ingredient-delete {
      color: orange;
      text-decoration: none;
    }
  }

  td {
    margin: 0;
  }
}

.ing-info {
  text-decoration: none;
  color: #05192C;
}

@media (min-width: 100px) and (max-width: 575px) {
  .ing-index-container {

    h3 {
      text-align: left;
      margin-top: 40px;
      margin-left: 40px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .ing-index-container {
    display: flex;
    justify-content: center;

    .ing-index-sub {
      margin-right: 40px;

      .ing-index-manage {
        height: 600px;
      }
    }
  }
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
