// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.review {
  display: flex;

  & .badge {
    color: orange;
    margin-right: 8px;
  }
}

.review-content {
  display: flex;
  justify-content: space-between;

  & .review-delete {
    margin-left: 8px;
    color: orange;
    text-decoration: none;
  }
}


.new-comment {
  color: #05192C;
  font-family: 'Roboto', sans-serif;
  padding: 12px;
}


.about-review {
  padding: 0;

  & h3 {
    text-align: center;
    font-size: 20px;
  }
}

.new-review-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;

  & .review-rate {
    margin-left: 8px;
    margin-bottom: 20px;
    border: 1px dotted #05192C;
    width: 60px;
    border-radius: 8px;
    height: 28px;
  }

  & .review-name {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 8px;
    border: 1px dotted #05192C;
    margin-top: 8px;
  }

  & .review-comment {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    height: 64px;
    border-radius: 8px;
    border: 1px dotted #05192C;
    margin-top: 8px;
  }
}
