// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.review {
  display: flex;

  & .badge {
    color: orange;
    margin-right: 8px;
  }
}

.review-content {
  display: flex;
  justify-content: space-between;

  & .review-delete {
    margin-left: 8px;
    color: orange;
    text-decoration: none;
  }
}
