// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-comment {
  text-align: center;
  margin-top: 50%;
  font-family: 'Roboto', sans-serif;

  h3 {
    margin: 0;
  }

  .session-container {
    margin-top: 20px;
  }
}
