.explore-mix {
  // display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

  h3 {
    margin-left: 36px;
  }

  .explore-mix-contents {
    text-decoration: none;
    color: white;
    font-family: 'Monoton', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    // text-align: left;

    .explore-mix-text {
      margin: 0;
      font-weight: lighter;
      font-size: 32px;
      text-align: left;
      margin-top: 128px;
      margin-left: 12px;
    }
  }

  .explore-mix-img {
    width: 240px;
    height: 280px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 20px;
  }
}
