.mypage-title {
  color: #05192C;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  margin-top: 48px;
}

.mypage-subt {
  color: #05192C;
  font-family: 'Roboto', sans-serif;

  h2 {
    text-align: left;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  .mypage-exbtn {
    width: 140px;
    height: 28px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #05192C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 8px;
  }
}

.mypage-fav-card {
  width: 320px;
  height: 120px;
  border: 1px solid white;
  display: flex;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 20px;
  color: #05192C;
  font-family: 'Roboto', sans-serif;

  .mypage-fav-img {
    width: 120px;
    height: 120px;
    border-radius: 4px 0 0 4px;
  }

  .mypage-fav-contents {
    padding: 8px;
    width: 200px;

    .mypage-fav-ibtn {
      margin: 0;
      text-align: right;
      font-size: 20px;
      text-decoration: none;
    }

    .myfav-cardt{
      color: #05192C;
      text-decoration: none;
      font-size: 14px;
      text-align: left;
      margin: 0;
    }

    .myfav-morei {
      color: #05192C;
      text-decoration: none;
      font-size: 12px;
      text-align: left;
      margin: 0;
      margin-top: 4px;

      i {
        margin-right: 4px;
      }
    }
  }
}
