.new-cocktail-title {
  text-align: center;
}

.new-dose {
  color: #05192C;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.new-comment {
  color: #05192C;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}



.new-container {
  padding: 12px;
}

.new-cocktail-quote {
  text-align: center;
  border-bottom: 1px #05192C solid;
}

.new-cocktail-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.new-cocktail-name {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 8px;
  border: 1px dotted #05192C;
}

.new-cocktail-inst {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 8px;
  border: 1px dotted #05192C;
}

.new-cocktail-photo {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}
