.new-cocktail-title {
  text-align: center;
}

.new-dose {
  color: #05192C;
  font-family: 'Roboto', sans-serif;
  padding: 12px;
}

.new-dose-input {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .beautiful-dropdown {
    display: block;
    width: 300px;
    height: 32px;
    margin-bottom: 20px;
    border: 1px dotted #05192C;
    border-radius: 8px;
    margin-top: 8px;
  }

 & .dose-desc {
    display: block;
    width: 280px;
    height: 32px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dotted #05192C;
    border-radius: 8px;
    margin-top: 8px;
  }
}

.new-comment {
  color: #05192C;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}


.new-container {
  padding: 12px;
  font-family: 'Roboto', sans-serif;
}

.new-cocktail-quote {
  text-align: center;
  border-bottom: 1px #05192C solid;
}

.new-cocktail-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.new-cocktail-name {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 8px;
  border: 1px dotted #05192C;
  margin-top: 8px;
}

.new-cocktail-inst {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 8px;
  border: 1px dotted #05192C;
  margin-top: 8px;
}

.new-cocktail-photo {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 8px;
}
