.container {
  padding: 16px 20px;
  color: #05192C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-title {
  text-align: center;
  font-size: 24px;
}

.cocktail-img {
  text-align: center;
  background-size: cover;
  background-position: center;
}

.detail {
  padding: 10px;
}

.table  {
  border: 1px dotted #05192C;
  width: 320px;
  text-align: center;
  // border-style: dotted;
  border-radius: 8px;
  padding: 4px;
  font-size: 12px;
  justify-content: center;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.tablecon-e {
  color: blue;
  text-decoration: none;
}

.tablecon-d {
  color: orange;
  text-decoration: none;
}

.review {
  display: flex;

  & .badge {
    color: orange;
    margin-right: 8px;
  }
}

.review-content {
  display: flex;
  justify-content: space-between;

  & .review-delete {
    margin-left: 8px;
    color: orange;
    text-decoration: none;
  }
}
