.container {
  padding: 16px 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-title {
  text-align: center;
  font-size: 24px;
}

.cocktail-img {
  text-align: center;
}

.detail {
  padding: 10px;
}

.table  {
  border: 1px dotted white;
  width: 320px;
  text-align: center;
  // border-style: dotted;
  border-radius: 8px;
  padding: 4px;
  font-size: 12px;
  justify-content: center;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.tablecon-e {
  color: blue;
  text-decoration: none;
}

.tablecon-d {
  color: orange;
  text-decoration: none;
}

.reviews {
  margin: 0;
  text-align: left;
}
