.container {
  padding: 16px 20px;
  color: #05192C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

.cocktail-img {
  text-align: center;
  background-size: cover;
  background-position: center;
  margin: 0;

  .cocktail-show-img {
    border-radius: 4px;
    text-align: center;
  }
}

.cocktail-show-delete-edit {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 4px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  a {
    text-decoration: none;
    color: #05192C;
  }

  .cocktail-delete {
    margin-right: 8px;
  }

  p {
    margin-right: 8px;
  }
}

.detail {
  padding: 10px;
}

.cocktail-show-table {
  border: 1px dotted #05192C;
  width: 320px;
  text-align: center;
  // border-style: dotted;
  border-radius: 8px;
  padding: 4px;
  font-size: 12px;
  justify-content: center;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.tablecon-e {
  color: blue;
  text-decoration: none;
}

.tablecon-d {
  color: orange;
  text-decoration: none;
}
